@use 'sass:map';
@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mix;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html { font-size: 62.5%; height: 100%; }

body { background-color: map-get(variables.$theme, 'background'); height: 100%; line-height: 1.8;}

body, ul, li, h1, h2, h3, h4, h5, h6, pre, a, p, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: map-get(variables.$sizing, 'container');
  margin: 2rem auto;
  padding: 2.5rem;
}

.page {
  @include mix.e(title) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    
    h1 {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
}