@use 'sass:map';

$theme: (
  background: #fffffe,
  headline: #272343,
  paragraph: #2d334a,
  button: #ffd803,
  buttonText: #272343,
  stroke: #272343,
  main: #fffffe,
  highlight: #ffd803,
  secondary: #e3f6f5,
  tertiary: #bae8e8,
);

$colors: (
  'white': #FFF,
  'black': rgba(0, 0, 0, 0.7),
  'red': rgba(235, 35, 35, 0.4),
);

$sizing: (
  container: 748px,
  radius: 3px,
  padding: 2.5rem,
);

$utilities: (
  // shadow: 
  //   (0 0 16px -6px rgba(map-get($theme, 'stroke'), 0.2), 
  //   0 2px 4px 0 rgba(map-get($theme, 'stroke'), 0.1), 
  //   inset 0 0 0 1px rgba(255, 255, 255, 0.5)),
  shadow: 0 0 16px -6px rgba(map-get($theme, 'stroke'), 0.1),
);