@use 'sass:map';
@use '@/styles/abstracts/_variables' as var;
@use '@/styles/abstracts/_mixins' as mix;

.btn {
  border: 1px solid transparent;
  border-radius: map-get(var.$sizing, 'radius');
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1rem 3rem;
  text-align: center;

  &:not(:last-child) {
    margin-right: 2rem;
  }
  
  @include mix.m(primary) {
    background-color: map-get(var.$theme, 'button');
    color: map-get(var.$theme, 'buttonText');
  }

  @include mix.m(secondary) {
    border-color: map-get(var.$theme, 'stroke');
  }

  @include mix.m(lg) {
    padding: 1.5rem 4rem;
  }
}