@use 'sass:map';
@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.form {
  @include mix.e(group) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include mix.c(action) {
      display: flex;
      color: rgb(40, 98, 224);
      font-size: 1.4rem;
      justify-content: flex-end;
    }
  }

  @include mix.e(label) {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  @include mix.e(control) {
    background-color: map-get(var.$colors, 'white');
    border: 1px solid lightgray;
    font-size: 1.6rem;
    padding: 1.25rem 0;
    text-indent: 1rem;

    &:focus {
      outline: none;
    }
  }

  @include mix.e(actions) {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
  }
}

textarea.form__control {
  text-indent: 0;
  padding: 1.25rem 1rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
}